.nav li a {
    font-weight: bold !important;
}

.text-center
{
    text-align: center;
    justify-content: center;
}
.thanhcong-item
{
    display: flex;
    padding: 15px;
    border-radius: 5px;
}
.thanhcong-item-image
{
    width: 90px;
    height: 90px;
}
.thanhcong-item--desc
{
    width: calc( 100% - 90px);
}